<div class="flex-row">
  <div class="tools-and-display flex-col">
    <div class="tools">
      <span id="gen"></span>
      <button (click)="universe.toggleStopStart()">{{ universe.isRunning ? 'Stop' : 'Start'}}</button>
      <button (click)="universe.toggleMode()">Mode: {{ universe?.mode }}</button>  
    </div>
    <div class="canvas-display">
      <div>
        <canvas (pointerdown)="universe.action($event, 'd')" (pointermove)="universe.action($event)" (pointerup)="universe.action($event, 'u')" id="canvas" [width]="universe.width" [height]="universe.height"></canvas>
      </div>
      
    </div>  
  </div>
  <div class="seeds-stuff flex-row">
    <div id="seeds">
      Seeds <span *ngIf="universe?.seeds?.length">({{universe?.seeds?.length}})</span>:
      <button (click)="universe.importRLE()">Import RLE</button>
      <input id="rleData" type="text" />
      <ng-container *ngIf="universe?.seeds?.length">
        <div *ngFor="let seed of universe.seeds; let i = index">
          <canvas class="seed" [class.seed-selected]="universe.selectedSeed === seed" (click)="universe.selectSeed(seed)" [width]="seed.x * 3" [height]="seed.y * 3" [id]="'seed' + i"></canvas>
        </div>  
      </ng-container>
    </div>
  </div>
  <div>
    <button (click)="universe.left()">Left</button>
    <button (click)="universe.right()">Right</button>
  </div>
</div>
